!**/template_*
**/credentials*

# Configurations
## Ignore default config directory.
config/
certs/**/*.pub
certs/**/*.pem

# Manifests
## Ignore manifests directory.
manifests/*.json

# MacOS
## Ignore desktop services files.
**/.DS_Store

# Certificates and Keys
## Ignore certificates files.
**/*.cer
**/*.crt
**/*.p7b
## Ignore public key files
**/*.pub
**/logs
**/tmp
output/

**/root_token-vault
**/unseal_key-vault*
