/*
    DESCRIPTION:
    Build account variables used for all builds.
    - Variables are passed to and used by guest operating system configuration files (e.g., ks.cfg, autounattend.xml).
    - Variables are passed to and used by configuration scripts.
*/

// Default Account Credentials
build_username              = "packer"
build_password              = "packer"
build_password_encrypted    = "$5$7hzsgDrzskZxbDi4$vzdXDy6XBiJKZgVEHUFek7MLsE0eTPDKs8P0Hmfhs1/"    #packer
build_key                   = "Your public SSH key goes here"

vm_ca_user_public_key_file  = "TrustCA Public Key"
